
/* Media responsive Mobile */
@media all and (max-width: 670px) {
    section {
        padding: 40px;
        padding-bottom: 150px;
    }

    header {
        padding: 20px 40px;
    }

    header .logo {
        position: relative;
        max-width: 60px;
    }

    header ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
    }

    header ul.active {
        visibility: visible;
        opacity: 1;
    }

    header ul li a {
        display: inline-block;
        color: #111;
        font-weight: 400;
        margin-left: 0;
        font-size: 2em;
        text-decoration: none;
        margin: 10px 0;
        
    }

    header ul li a:hover {
        color: #ed0223;
    }

    .toggleMenu {
        position: relative;
        width: 40px;
        height: 40px;
        background: url('../img/menu.png');
        background-position: center;
        background-size: 40px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
    }

    .toggleMenu.active {
        background: url('../img/close.svg');
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        
    }

    .content {
        flex-direction: column;
        margin-top: 80px;
    }

    .content .textBox {
        position: relative;
        max-width: 100%;
        padding-right: 20px;

    }

    .content .textBox h2 {
        font-size: 3em;
    }

    .content .textBox a {
        font-size: 14px;
        padding: 8px 15px;
    }

    .content .imgBox {
        width: 100%;
        display: flex;
        padding-right: 0;
        margin-top: 50px;
        justify-content: center;
    }

    .content .imgBox img {
        max-width: 150px;
    }

    .thumb li img {
        max-width: 30px;
    }

    .sci {
        position: absolute;
        top: 50%;
        right: 0;
        width: 50px;
        background: rgba(0,0,0,0.2);
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }



    /*-----------------section Product ----------------*/
    .section-product {
        height: 50%;
    } 
    .section-product .promotion__container2 h2 {
        font-size: 2.5em;
        
    }
    .section-product .promotion__container1 img {
        width: 220px; 
    }



    /* ---------------section list-sosmed --------------- */
    .social__title-container h1 {
        font-size: 1em;
    }

    .section-sosmed {
        
        padding: 30px 30px;
        
    }

    .pepsi-sosmed-pic .social-item .icon-sosmed img {
        width: 1em;
        height: 1em;
    }


    /*--------------- section contact ------ */
    .section-contact {
        padding: 50px;
    }

    .container-contact {
        flex-direction: column;
    }

    .container-contact .contact-info {
        margin-bottom: 40px;
    }


    .container-contact .contact-info,
    .contactForm {
        width: 100%;
    }


    /*-------------------- footer ----------- */

    footer {
        padding: 30px 30px;
        flex-direction: column;
        
    }

    footer .footer-logo img {
        width: 60px;
    }
    

    footer .footer__linklist {
        width: 100%;   
    }

    footer .footer_right {
        width: 100%;
        
    }

}